body {
  background-image: url(https://wallpaperaccess.com/full/197281.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
